<a href="https://colab.research.google.com/github/MaathanMethil/Python-Basic/blob/main/Codekata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input())
m = int(input())
#
c = (n*m)
print(c)

99999
99998
9999700002

In [ ]:
n = input()
m = input()
#
c = int(n)*int(m)
print(c)

99999
99998
9999700002

In [ ]:
n = int(input())
m = int(input())
#
num = [n * m]
print(num)

999
998
[997002]

In [ ]:
a = [list(map(int, input().split()))]
#num = [a[0] * a[1]]
print(*a)
print(a[0])

9999 9998
[9999, 9998]
[9999, 9998]

In [ ]:
n = int(input())
l = int(input())
r = int(input())
#
if n > l and l < r:
    print ("yes")
else:
    print("no")

5
8
9
no

In [ ]:
a = int(input())
n = int(input())
#
print(a, n)

i = 1
while  i <= n:
  print(n)
  i += 1

5
3
5 3
3
3
3

In [ ]:
a = input()
#print(a.strip())
b = a.strip()
print(len(b))

Lorem Ipsum
11

In [ ]:
a = input()
#print(a.strip())
b = a.replace(" ","")
print(len(b))

Lorem Ipsum
10

In [ ]:
a = list(input().split())
#[5 4]
#print(a)
num = int(a[0])
n = int(a[2])
#print(n)

i = 1
while i <= n:
  print(num)
  i += 1

5 4

IndexError: ignored

10,5

Get input n and m and print m time of n

In [ ]:
a = list(input().split())
#print(a)
#print(a[0])

num = int(a[0])
n = int(a[1])

i = 1
while i <= n:
  print(num)
  i += 1

2 3
2
2
2

Find the minimum value from the input

In [ ]:
a = list(input().split())
print(a)
print(a[0])
print(a[1])
print(min(a))

23 56
['23', '56']
23
56
23

Print "Odd" or "Even" for the corresponding cases.

In [ ]:
o = int(input())
#
if o == 0:
    print("Zero")
elif o%2 == 0:
    print("Even")
else:
    print("Odd")

45
Odd

Print "Odd" or "Even" for the corresponding cases.| with Zero and Float value as Input

In [ ]:
n = float(input())
#
if n == float(n):
   n = round(n)
   print(n)
#
o = n
if o == 0:
    print("Zero")
elif o%2 == 0:
    print("Even")
else:
    print("Odd")

13.2
13
Odd

In [ ]:
p = 10000
print("{:.2f}".format(p))

#

10000.00

Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

In [ ]:
p = input().split()
p[0] = int(p[0])
p[1] = float(p[1])
p[2] = int(p[2])
prn = p[0] * p[1] * p[2] / 100
print("{:.2f}".format(prn))

200 1.1 51
112.20

Write a code to get an integer N and print the values from N to 1.

In [ ]:
N = int(input())

while N >= 1:
    print(N)
    N -= 1     # N = N - 1

5
5
4
3
2
1

Write a code to get the input and print it 5 times.

In [ ]:
n = int(input())
#
for i in range(5):
  print(n)

6
6
6
6
6
6

https://www.w3schools.com/python/python_strings_modify.asp  | Split()

In [ ]:
my_string = "Hello world, how are you today?"
word_list = my_string.split(",")
print(word_list)

['Hello world', ' how are you today?']

Write a code to get an integer N and print the digits of the integer.| Using For Loop

In [ ]:
#
n = int(input())
#
for i in str(n):
    print(i,end=" ")

348
3 4 8

Write a code to get an integer N and print the digits of the integer. | Using While Loop

In [ ]:
n = int(input())

# Use while loop to extract the digits of the integer
result = []
while n > 0:
    digit = n % 10
    result.append(str(digit))
    n //= 10

# Reverse the order of digits and print them separated by space
print(" ".join(result[::-1]))

5456356
5 4 5 6 3 5 6

Write a code to get an integer N and print the sum of  values from 1 to N.| Using For Loop

In [ ]:
# Get input
n = int(input())
# Initialize a variable to store the sum
total = 0
# Use a loop to iterate from 1 to N and add each integer to the sum
for i in range(1,n+1):
    total += i   #  total = total + i
    #print(total)
# Print the sum
print(total)

10
55

Use Shri Dharacharya's Method to solve i.e. X = {-b + √(b² - 4ac) } / 2a & {-b-√(b² -4ac)} / 2a

In [ ]:
import math
a1 = list(map(int,input().split()))
print(a1)
a = a1[0]
b = a1[1]
c = a1[2]
print(a,b,c)
x = 0
y = 0
#
numerator = -b - math.sqrt(b**2 - 4*a*c)
root1 = (-b + math.sqrt(b**2 - 4*a*c)) / (2*a)
denominator = 2*a
# Calculate the result
result = numerator / denominator
result2 = root1 
# Print the result
print("{:.2f}".format(result))
print("{:.2f}".format(result2))

1 2 -3
[1, 2, -3]
1 2 -3
-3.00
1.00

 get a string as input and reverse the string without using temporary variable.
 https://codevocab.com/program/python-program-to-reverse-a-string/    ||
 https://www.codevscolor.com/python-reverse-a-string

In [ ]:
def r (str):
    return str[::-1]
#
g = input()
print(r(g))

guvi
ivug

Simple way to reverse string.

In [ ]:
g = input()
for i in g[::-1]:
  print(i,end="")

GUVI
IVUG

You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, | (Print "Error" if N = negative value and 0 if N = 0).

In [ ]:
#
n = int(input())
#
if n == 0:
      print("0")
elif n == -abs(n):
      print("Error")
else:
      for i in range(n):
          i = n*n
      print(i)
#

-3
Error

you are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit.

In [ ]:
# Formula : (1°C × 9/5) + 32 = 33.8°F
#
n = int(input())
x = (n*9/5)+32
print(x)

12
53.6

Define a number to be rounded off :

In [ ]:
# Define a number to be rounded off
n = float(input())

# Round off the number to 2 decimal places
rounded_n = round(n,2)

# Print the rounded number
print("The rounded number is:", rounded_n)

12.56
The rounded number is: 13

Write a code get an integer number as input and print the sum of the digits.
| Using While Loop

In [ ]:
#
num = int(input("Enter an integer number: "))
#
sum = 0
while num > 0:
    digit = num % 10
    sum += digit
    num //= 10
print("The sum of digits is:", sum)

Enter an integer number: 456
The sum of digits is: 15

Write a code get an integer number as input and print the sum of the digits.
 | Using For Loop

In [ ]:
n = int(input("Enter an integer number: "))  # 124
j = 0

for i in str(n): # 456
      j +=int(i)  # j = j + int(i)
print(j)

Enter an integer number: 456
15

Write a code to get an integer N and print the even values from 1 till N in a separate line. ||  Print the even values from 1 to N in a separate line.

In [ ]:
N = int(input("Enter a value of N: "))
for i in range(2, N+1, 2):
    print(i)

Enter a value of N: 8
2
4
6
8

Write a code get an integer number as input and print the odd and even digits of the number separately.

In [ ]:
n = int(input())  # 1234

even_digits = []
odd_digits = []

for num in str(n):
    if int(num) % 2 == 0:
        even_digits.append(num)
    else:
        odd_digits.append(num)

even_digits.sort()
odd_digits.sort()

print(*even_digits)
print(*odd_digits)

233342
2 2 4
3 3 3

You are provided with the radius of a circle "A". Find the length of its circumference.

In [ ]:
n = float(input())
#
circle = 2 * n * 3.141
c = round(circle, 2)
print(c)

2
12.56

In [ ]:
import math
n = float(input())
#
circle = 2 * n * (math.pi)
c = round(circle, 2)
print(c)

2
12.57

Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

In [ ]:
from os import killpg
#

n = int(input())
k = []
#
for i in range(1, n+1):
    j = i * 9
    k.append(j)

print(*k)

3
9 18 27

(27)Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

In [ ]:
#
# Get input from user
num1 = int(input("Enter first integer: "))
num2 = int(input("Enter second integer: "))

# Find the smaller of the two numbers
if num1 > num2:
    smaller = num2
else:
    smaller = num1

# Iterate from 1 to the smaller of the two numbers and find the HCF
hcf = 1
for i in range(1, smaller + 1):
    if (num1 % i == 0) and (num2 % i == 0):
        hcf = i

# Output the HCF
print("The HCF of", num1, "and", num2, "is", hcf)

In [ ]:
# Get input from user
a, b = map(int, input().split())

# Find the HCF using a simple iterative approach
hcf = 1
for i in range(1, min(a, b) + 1):
    if a % i == 0 and b % i == 0:
        hcf = i

# Print the HCF
print(hcf)

2 3
1

ARRAY -1 You are provided with an ARRAY in which all elements are repeated thrice except one which is repeated twice.Your task is to print that number.|
Sample Input :
1->5 | 
2->13 12 13 12 13

In [ ]:
#
#n = int(input()) # 5
arr = list(map(int, input().split()))  # 13 12 13 12 13
c = []
#
for i in arr:
    if arr.count(i) == 2:
        if i not in c:
            c.append(i)
print(c)
if len(c) >= 1:
    print(*c)
#

#print(m)

13 12 13 12 13
[12]
12

ARRAY -2 You are given with an array of numbers, Your task is to print the difference of indices of largest and smallest number.All number are unique. |

In [ ]:
a = input()  # 5
arr = list(map(int,input().split()))  # 1 6 4 0 3

def diff_indices(arr):

            min_index = arr.index(min(arr))
            max_index = arr.index(max(arr))
            return abs(max_index - min_index)

#print (diff_indices(arr))
c = diff_indices(arr)
#print (*c)
if c >2:
    print (c)
elif c<=2:
    print(-c)

5
1 6 4 0 3
-2

ARRAY -3 You are given with an circular array .Your task is calculate the difference between two consecutive number. And if difference is greater than ‘k’, print 1 else print 0 || Sample Output :
0 1 0 1 0

In [ ]:
n, k = map(int,input().split()) # 5 15
a = list(map(int,input().split()))  # 50 65 85 98 35
arr = []
for i in range(n-1):
    if abs(a[i]-a[i+1]) > k:
        arr.append(1)
    else:
        arr.append(0)
        
arr1 = a[-1]-a[0] 
if abs(arr1) > k:
    arr.append(1)
else:
    arr.append(0)
    
print(*arr)
# OUT PUT-> 0 1 0 1 0

5 15
50 65 85 98 35
0 1 0 1 0

ARRAY -4 You are a passport issuer, but due to some problems in the system, there are redundant  passport numbers. Your task is to delete all the duplicate passport numbers. You are given a list of passport numbers.| Sample Input :
->5 |
-> A23 B56 B56 C79 D16 | 
Sample Output :
A23 B56 C79 D16

In [ ]:

n = int(input())  # 5
l = list(input().split())  # A23 B56 B56 C79 D16
p = []
#
for i in l:
    if i not in p:
        p.append(i)
#
print(*p)

5
A23 B56 B56 C79 D16
A23 B56 C79 D16

ARRAY -5 you are given with array of numbers.you have to find whether array is beautiful or not. A beautiful array is an array whose sum of all numbers is divisible by 2, 3 and 5

In [ ]:
#
n = int(input()) # 5   # Taking input for the size of the array
arr = list(map(int, input().split())) # 5 25 35 -5 30  # Taking input for the array elements and converting it into a list of integers

sum_of_numbers = sum(arr) # Calculating the sum of all the elements in the array

# Checking if the sum of numbers is divisible by 2, 3, and 5
if sum_of_numbers % 2 == 0 and sum_of_numbers % 3 == 0 and sum_of_numbers % 5 == 0:
    print("1") # If the array is beautiful, print 1
else:
    print("0") # If the array is not beautiful, print 0

5
5 25 35 -5 30
1

ARRAY -6 You are given an array of numbers. Print the least occurring element. If there is more than 1 element print all of them in decreasing order of their value.

In [ ]:
#
n = int(input()) # 9
arr = list(map(int, input().split())) # 1 6 4 56 56 56 6 4 2
a = []
b = []
#
for i in arr:
    if arr.count(i) == 1:
        if i not in a:
            a.append(i)
           
print(*a)
#
#

9
1 6 4 56 56 56 6 4 2
1 2

ARRAY -7 You are given with an array. For each element present in the array your task is to print the next smallest than that number. If it is not smallest print -1 |

In [ ]:
#
n = int(input()) # 7
arr = list(map(int, input().split()))  # 10 7 9 3 2 1 15

for i in range(len(arr)):
    next_smallest = -1
    for j in range(i+1, len(arr)):
        if arr[j] < arr[i]:
            next_smallest = arr[j]
            break
    print(next_smallest, end=' ')
print()

# ERROR IN OUTPUT :

7
10 7 9 3 2 1 15
7 3 3 2 1 -1 -1

ARRAY -8 You are provided with an array in which all elements are repeated thrice except one which is repeated twice.Your task is to print that number.|

In [ ]:
#
n = int(input())  #5
arr = list(map(int, input().split()))  # 13 12 13 12 13
c = []
#
for i in arr:
    if arr.count(i) == 2:
        if i not in c:
            c.append(i)
if len(c) >= 1:
    print(*c)
# 
#

5
13 12 13 12 13
12

ARRAY -9 Assume you are a student studying in school.You are given a task to find first negative integer for each and every window of size k.|

In [ ]:
#
n = int(input())
arr = list(map(int, input().split()))
k = int(input())
#
for i in range(n-k+1):
    window = arr[i:i+k]
    #
    first_negative = next((num for num in window if num < 0), None)
    #
    if first_negative is not None:
        print(first_negative, end=" ")
    else:
        print("0", end=" ") # 0 represents no negative number in the window
#

ARRAY -10 You are given with two arrays. Your task is to merge the array such that first array is in ascending order and second one in descending order.

In [ ]:
#A Simple Hello World
aa = list(map(int, input().split())) # 3 3
arr = list(map(int, input().split())) # 23 15 16
ar1 = list(map(int, input().split())) # 357 65 10
a = []
b = []
#
for i in arr:
  a.append(i)
#
a.sort()
#
for j in ar1:
  b.append(j)
#  
b.sort(reverse=True)
#
c = a + b
print(*c)

ARRAY -11 You are given an array of non-negative integers representing height of walls at index i as Ai and the width of each block is 1. Compute how much air can be encapsulated between the walls of chamber.

In [ ]:
#
n = int(input())
m = list(map(int, input().split()))
#

ZEN -1 Given a number n followed by n numbers Print the smallest number in an array.

In [ ]:
#
n = int(input())
#
m = list(input().split())
o = []  # 5 7 4 4 6 8
#
for i in m:
  o.append(i)
#
x = min(o)
print(x)

5 7 4 4 6 8
['5', '7', '4', '4', '6', '8']
4

ZEN -2 Given a number n followed by n numbers print the number less than 15 if there is no number exits print -1

In [ ]:
#n = int(input()) 
numbers = list(map(int, input().split()))  

# Find the first number less than 15 in the list
result = -1  # Assume the result to be -1 initially
for num in numbers:
    if num < 15:
        result = num
        break  # Exit the loop as soon as a number less than 15 is found

print(result)  # Print the result

5 7 4
5

Coded by ChatGPT:

In [ ]:
n = int(input())  # Read the first input which is the number of integers to be entered next
numbers = list(map(int, input().split()))  # Read the next line of input containing n integers separated by space

# Find all the numbers less than 15 in the list
result = []  # Initialize an empty list to store the numbers less than 15
for num in numbers:
    if num < 15:
        result.append(num)

if result:  # Check if the result list is not empty
    print(*result)  # Print all the numbers less than 15 separated by space
else:
    print(-1)  # If no number less than 15 is found, print -1

3
5 4 7
5 4 7

Zen -3 Given a number n followed by n numbers find whether it is odd or even | Sample Output :
odd odd even

In [ ]:
#n = int(input())
num = list(map(int, input().split()))
arr = []
#
for i in num:
  if i%2 == 0:
    print("even")
  else:
    print("odd")

5 6 3
odd
even
odd

My Clear Code :)

In [ ]:
n = int(input())
num = list(map(int, input().split()))
arr = []
arr1 = []
#
for i in num:
  arr.append(i)
for j in arr:
  if j%2 == 0:
    #print("even")
    arr1.append("even")
  else:
    #print("odd")
    arr1.append("odd")

print(*arr1)

5 6 3
odd even odd

Zen -4 Given a number n Find whether the number is divisible  by 2,3 and 5.if divisible print yes else print no |

In [ ]:
#
n = int(input())
#
if n%2 == 0 and n%3 == 0 and n%5 == 0:
  print("yes")
else:
  print("no")

12
no

Zen -5 Given a string convert string into upper case | guvi to GUVI

In [ ]:
n = input()
#
print(n.upper())

hello world
HELLO WORLD

Zen -6 Given a number m and k separated by a space print the numbers between m and k | Via Single input - While Loop

In [ ]:
#
num = list(map(int, input().split()))
#print(num)
#print(num[0])
#print(num[1])
#
i = num[0]+1
while i < num[1]:  # num[1]
  print(i,end=" ")
  i += 1  # i = i + 1

5 11
6 7 8 9 10

Using For Loop : to list number between 2 given number.| Via : Single input

In [ ]:
num = list(map(int, input().split()))
#print(num[0])
#print(num[1])
#
for i in range(num[0]+1, num[1]):
  print(i)

5 11
6
7
8
9
10

Via : Two input | Using For Loop

In [ ]:
n, k = map(int, input().split())
# n = 5 | k = 11
for i in range(n+1, k): 
  # print(*range(n+1, k), sep=' ')
  #values = [i for i in range(n+1, k)]
  #print(*values)
  
  print(i, end=' ')

In [ ]:
n,k = list(map(int, input().split()))
# n = 5 | k = 11
for i in range(n+1, k):
  print(i)
  
#

5 11
6
7
8
9
10

In [ ]:
n, k = map(int, input().split())
# n = 5 | k = 11
for i in range(n+1, k):
  print(i, end=" ")

5 11
6 7 8 9 10

|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-CODE CLARIFICATION-|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

In [ ]:
arr = list(map(int, input().split())) # 1 1 11 121 131 141 98
c = []
#
for i in arr:
    if arr.count(i) == 2:
      #print(i)
      # 1
      # 1
      if i not in c:
          c.append(i)
          print(c)

if len(c) == 1:
   print(*c)
#

1 1 11 121 131 141 98
[1]
1

In [ ]:
n, k = map(int,input().split()) # n = 5 | k = 15
a = list(map(int,input().split())) # 50 65 85 98 35  || # 50/0, 65/1, 85/2, 98/3, 35/4
arr = []                  # You are given two numbers ‘n’, ’m’. Next line contains n space separated integers. || input
#                          # Print 1 if the difference is greater than ‘m’. ||output
for i in range(n-1): # 0 1 2 3
    if abs(a[i] - a[i+1]) > k:
        arr.append(1)
    else:
        arr.append(0)
print(arr)
#
#
arr1 = a[-1] - a[0]

if abs(arr1) > k:
    arr.append(1)
else:
    arr.append(0)
#
print(*arr)
#
#OUT PUT-> 0 1 0 1 0
#

5 15
50 65 85 98 35
[0, 1, 0, 1]

'\narr1 = a[-1] - a[0]\n\nif abs(arr1) > k:\n    arr.append(1)\nelse:\n    arr.append(0)\n#\nprint(*arr)\n#\n#OUT PUT-> 0 1 0 1 0\n'

In [ ]:
n = int(input()) # Taking input for the size of the array | 5 .
#
arr = list(map(int, input().split())) # Taking input for the array elements and converting it into a list of integers | 5 25 35 -5 30 .
#
sum_of_numbers = sum(arr) # Calculating the sum of all the elements in the array
print(sum_of_numbers) # Print the Sum of the (arr)
#
# Checking if the sum of numbers is divisible by 2, 3, and 5
if sum_of_numbers % 2 == 0 and sum_of_numbers % 3 == 0 and sum_of_numbers % 5 == 0:
#
    print("1") # If the array is beautiful, print 1
else:
    print("0") # If the array is not beautiful, print 0
#
#

5
5 25 35 -5 30
90
1

In [ ]:
#
#n = int(input()) # 9
arr = list(map(int, input().split())) # 1 6 4 56 56 56 6 4 2
a = []
b = []
#
for i in arr:
    if arr.count(i) == 2:
        #print(i)
        
        if i not in a:
            a.append(i)
            #print(a)
'''
#
print(*a)
#
'''
print(*a)
#

1 6 4 56 56 56 6 4 2
6 4

Assume you are a student studying in school.You are given a task to find first negative integer for each and every window of size k.

***Input Description:***
First line contains an integer n denoting the size of the array. The next line contains n space separated integers forming the array. The last line contains the window size k.

In [ ]:
n = int(input())  # 7
arr = list(map(int, input().split()))  # 1 -2 -3 -4 5 6 -7 |                    | 1/0, -2/1, -3/2, -4/3, 5/4, 6/5, -7/6
k = int(input())  # 3
#
for i in range(n-k+1): # 5 | n=7,k=3 | n-k+1 = 7-3+1 -> "5" || 
    
    window = arr[i:i+k] # [1-start:1-stop:1-step]
    #print(window)

    first_negative = next((num for num in window if num < 0), None)
    
    if first_negative is not None:

        print(first_negative, end=" ")
    else:
        print(0) # 0 represents no negative number in the window
#

#OUTPUT -> ( -2 -2 -3 -4 -7 )

7
1 -2 -3 -4 5 6 -7
3
-2 -2 -3 -4 -7

In [ ]:
s = "hello world" # h/0, e/1, l/2, l/3, o/4, w/5, o/6, r/7, l/8, d/9
.
print(s[0:5])     # "hello"
print(s[6:])      # "world"
print(s[::2])     # "hlowrd"
print(s[::-1])    # "dlrow olleh"

hello
world
hlowrd
dlrow olleh

In [ ]:
#
#aa = int(input())
arr = list(map(int, input().split()))
ar1 = list(map(int, input().split()))
a = []
b = []
#
for i in arr:
  a.append(i)
#
a.sort()
#
for j in ar1:
  #b.sorted(j, reverse=True)
  b.append(j)
'''
numbers = [4, 1, 6, 3, 8, 2]
sorted_numbers = sorted(numbers, reverse=True)
print(sorted_numbers)
'''
#
##print(a)
##print(b)
c = a + b
print(*c)
#

23 15 16
357 65 10
15 16 23 357 65 10

|.|

In [ ]:
#
#n = int(input()) # 7
arr = list(map(int, input().split()))  # 10 7 9 3 2 1 15
#
for i in range(len(arr)):
    next_smallest = -1
#
    for j in range(i+1, len(arr)):
        if arr[j] < arr[i]:
            next_smallest = arr[j]
            break
    print(next_smallest, end=' ')

#
#print()
#
#

10 7 9 3 2 1 15
7 3 3 2 1 -1 -1 6

Sample Input :
5 1 7 11 16 19  || 
Sample Output :
19 1 16 7 11

In [ ]:
#
a = int(input())  # 5
# 1 7 11 16 19 - input value
arr = list(map(int, input().split())) # 1 7 11 16 19
arr.sort()

# Initialize two pointers for the start and end of the array
left = 0
right = len(arr) - 1

result = []

while left <= right:
    result.append(arr[right])
    right -= 1  # right = right - 1
    #
    result.append(arr[left])
    left += 1 # left = left -1

print(*result)


#

1 7 11 16 19
19 1 16 7 11 11

In [ ]:
#
#n = int(input()) 
arr = list(map(int, input().split()))  # 10 7 9 3 2 1 15
#
for i in range(len(arr)):
    next_smallest = -1
    for j in range(i+1, len(arr)):
        if arr[j] < arr[i]:
            next_smallest = arr[j]
            break
    print(next_smallest, end = " ")
#print()

In [ ]:
#
#n = int(input()) # 7
arr = list(map(int, input().split()))  # 10 7 9 3 2 1 15
g = []
#
#print(len(arr))

for i in range(len(arr)): # 7
  #
  #print(i) # 0 1 2 3 4 5 6
  next_smallest = -1
  # 10 7 9 3 2 1 15
  for j in range(i+1, len(arr)):  # 0 ,7
    if arr[j] < arr[i]:
            next_smallest = arr[j]
            g.append(next_smallest)
            break
  print(next_smallest, end = " ")
  #print(*g)
#
#print()
#
#

10 7 9 3 2 1 15
7 3 3 2 1 -1 -1

In [ ]:
# Prompt user to enter array of values
v = input().split()

# Convert each value to an integer (assuming values are integers)
v = [int(i.strip()) for i in v]
print(v)

# Sort the array in descending order
v.sort(reverse=True)
print(v)
# Create the alternative array with the desired elements
a = []

for i in range(len(v)//2):
    a.append(v[i])
    a.append(v[-(i+1)])

# If there are an odd number of elements, append the middle element
if len(v) % 2 == 1:
    a.append(v[len(v)//2])

# Print the alternative array
print(a)

1 7 11 16 19
[1, 7, 11, 16, 19]
[19, 16, 11, 7, 1]

'\n# Create the alternative array with the desired elements\na = []\nfor i in range(len(v)//2):\n    a.append(v[i])\n    a.append(v[-(i+1)])\n\n# If there are an odd number of elements, append the middle element\nif len(v) % 2 == 1:\n    a.append(v[len(v)//2])\n\n# Print the alternative array\nprint(a)\n'

In [ ]:
#A Simple Hello World
aa = list(map(int, input().split())) # 3 3
arr = list(map(int, input().split())) # 23 15 16
ar1 = list(map(int, input().split())) # 357 65 10
a = []
b = []
#
for i in arr:
  a.append(i)
#
a.sort()
#
for j in ar1:
  b.append(j)
b.sort(reverse=True)
#
##print(a)
##print(b)
c = a + b
print(*c)
#

3 3
23 15 16
357 65 10
15 16 23 357 65 10

In [ ]:
arr = list(map(int, input().split()))  # 10 7 9 3 2 1 15

g = []
# iterate over each element in the array
for i in range(len(arr)):
    next_smallest = -1
    # iterate over the remaining elements in the array
    for j in range(i+1, len(arr)):
        if arr[j] < arr[i]:
            next_smallest = arr[j]
            g.append(next_smallest)
            break
    # print the next smallest element (or -1 if none exist)
    print(next_smallest, "", sep="", end="\n" if i == len(arr)-1 else " ")
print(g)

10 7 9 3 2 1 15
7 3 3 2 1 -1 -1
[7, 3, 3, 2, 1]

STRING 2 - In XYZ country there is rule that car’s engine no. depends upon car’ number plate. Engine no is sum of all the integers present on car’s Number plate.The issuing authority has hired you in order to provide engine no. to the cars.Your task is to develop an algorithm which takes input as in form of string(Number plate) and gives back

In [ ]:
#
n = input("Enter the car's number plate: ")  # HR05-AA-2669
e = 0

for i in n:
    if i.isdigit(): # check if the input is a integer 
        e += int(i) # e = e + int(i)  # if the input is integer, int(i) converts the i to integer.

print(e)

Enter the car's number plate: HR05-AA-2669
28

In [ ]:
#
n = input() # I am john cena cena john
m = []
#
for i in str(n):
    if n.count(i) == 1:
        if i not in m:
            m.append(i)
#  
print(*m)
#

I am john cena cena john
I m

In [ ]:
51/10

5.1

In [ ]:
a = list(map(int,input().split()))
b = []
#
for i in a: # 1331
  if i%10 == 0:
    print("")
  else:
    b.append(i)

print(b)
#if len(b) >=1:
  #print(*b)
'''
for i in arr:
    if arr.count(i) == 2:
        if i not in c:
            c.append(i)
print(c)
if len(c) >= 1:
    print(*c)
'''

1 3 3 1
[1, 3, 3, 1]

'\nfor i in arr:\n    if arr.count(i) == 2:\n        if i not in c:\n            c.append(i)\nprint(c)\nif len(c) >= 1:\n    print(*c)\n'

In [ ]:
a = int(input())  # 3
b = int(input())  # 2
c = list(map(int,input().split()))  # 98 12
#
d = int(input())  # 6
e = list(map(int,input().split()))  # 1 2 3 8 5 9
#
f = int(input()) # 1
g = list(map(int,input().split())) # 11
#
c.sort()
e.sort()
g.sort()
#
print(*c,*e,*g)

3
2
98 12
6
1 2 3 8 5 9
1
11
12 98 1 2 3 5 8 9 11