# MONGO CONNECT - DATA DUMP

In [ ]:
'''YouTube Channel - IDs'''
# UCcAd5Np7fO8SeejB1FVKcYw - BestIndianFood
# UCJrpiw6dS09Zx2Z8d9AFWDA - CricTalks
# UCM1VesJtJ9vTXcMLLr_FfdQ - CokeStudio Playlist
# UCWKAAgM5L7bExQJkPZIbiaw - Tamil Trekker
# UC3QOPapQLnIYErI86ltL_dQ - Nomadic Tamil Guy-50vid
# UC2gbcI8S-Yw6vDYHztk9vLQ - Ammu Mahadevan-27vid
# UCjW5u7vHnvwuXiVQx2ahs4A - Backpacker Kumar-329vid
'''-
api_key = 'AIzaSyDwRTgFFHmLkPbRWsNQFRxWKfJ3LO77rzk'
youtube = build('youtube', 'v3', developerKey=api_key)
-'''

In [39]:
#
import json
import pandas as pd
from googleapiclient.discovery import build

api_key = 'AIzaSyDwRTgFFHmLkPbRWsNQFRxWKfJ3LO77rzk'
youtube = build('youtube', 'v3', developerKey=api_key)

channel_id = 'UC3QOPapQLnIYErI86ltL_dQ' # Amm - UC2gbcI8S-Yw6vDYHztk9vLQ
# Nomadic - UC3QOPapQLnIYErI86ltL_dQ
# ---------------
#
# Fetchin the channel details:
def get_channel_data(youtube, channel_id): # ----------- 1
    
    channel_response = youtube.channels().list(
    id=channel_id,
    part='snippet,statistics,contentDetails')
    channel_detls = channel_response.execute()
# ---------------
    c_data = dict ( Channel_name = channel_detls['items'][0]['snippet']['title'],
                    Channel_ID = channel_detls['items'][0]['id'],
                    Subscribers = channel_detls['items'][0]['statistics']['subscriberCount'],
                    Views = channel_detls['items'][0]['statistics']['viewCount'],
                    Description = channel_detls['items'][0]['snippet']['description'],
                    Total_Videos = channel_detls['items'][0]['statistics']['videoCount'],
                    Playlist_id = channel_detls['items'][0]['contentDetails']['relatedPlaylists']['uploads'],
                    #videos_id = channel_detls['items'][0]['snippet']['resourceId']['videoId']
                    #'channel_playlists' : cc['items'][0]['contentDetails']['relatedPlaylists']['uploads']
                    )
    return c_data      
# ---------------

getCH = get_channel_data(youtube, channel_id)
playid = (getCH['Playlist_id']) # Getting playlist from the channel

In [38]:
getCH

{'Channel_name': 'Nomadic Tamil Guy',
 'Channel_ID': 'UC3QOPapQLnIYErI86ltL_dQ',
 'Subscribers': '205',
 'Views': '18948',
 'Description': '',
 'Total_Videos': '52',
 'Playlist_id': 'UU3QOPapQLnIYErI86ltL_dQ'}

In [4]:
playid # playlist id of the current channel:

'UU3QOPapQLnIYErI86ltL_dQ'

In [6]:
Channel_Name = (datac['Channel_name'])
Channel_Name # Name of the current channel:

'Nomadic Tamil Guy'

In [30]:
# Fetching the Video_ID Details from Playlist:
def get_videoID_data(youtube, playid): # ----------- 2
    
    vid_details = []
    
    vid_request = youtube.playlistItems().list(
    playlistId=playid,
    maxResults=50,
    part='snippet,contentDetails' # snippet,statistics,contentDetails
    )
    response = vid_request.execute()
    
    for item in response['items']:
        vid_details.append(item['contentDetails']['videoId'])
    
    return vid_details
#
# ---------------
videoID_data = get_videoID_data(youtube, playid)
# ---------------

In [36]:
videoID_data

['xngaN6GnhbM',
 'C8on2HfEED8',
 'zlX7gy9AtIc',
 'ca8fGNUHWS4',
 '8Onzq7DcqGk',
 'dl3FWbIvepg',
 'F3XEfQs7EP4',
 'zIsJHpCSB4k',
 'iAr7DnIKf2k',
 'NqmBHrQA1AI',
 '__RvoG2pSUA',
 'Qm5Ip7hvY9k',
 'SOCn-eT9TJc',
 'sTtfW1utZZs',
 'X1BMHfM_RyA',
 'Q8pQ7uI5Reg',
 'mnTsnOIxGSI',
 '7o5qCo0DkW4',
 'umwKSOFbqjM',
 '4CxzqRxIyXU',
 'E1I9MW6ZUlc',
 'pWHiS-6u-Fs',
 'M575CWo7odg',
 'oSdtIV1209M',
 'TuaOHuDzj_s',
 'YLVz4rLonMg',
 'M_wfioq8bfc',
 'HPU-PuOfQC4',
 '7CbuC6gVZbM',
 'VWm-K6sqxqc',
 'lnqYq6rtWhE',
 'sm66tThqoZw',
 'i6snKiKttT4',
 'y5wvAlhvLAI',
 'vQGTmJergDk',
 '6BEETa4Eofg',
 'hkIjTaVTzQY',
 'CsuLpNOAcTo',
 'VGzFGsdei3A',
 '_93Lb5yzQJ0',
 'Wvpv_BpsJQM',
 'BJRbagPvF4o',
 '55f4HNxpdg8',
 'myh1FhW3K4o',
 'gZp0wh3vbhA',
 'g3AoOeKNzOg',
 'oY2e_flNL4U',
 'cfgFoO_yUg8',
 'VmR2o4Xxn24',
 'se7JzfHKlmQ']

In [24]:
# videoID_data # All video ids from the channel playlist
print(len(videoID_data))

50

In [31]:
# Fetching video details of each video in the playlist:
## 
videoid_details = []

def get_videodetails(youtube, videoID_data): # ----------- 3
    # Fetch video details
    for video_id in videoID_data:
        video_response = youtube.videos().list(
            part='snippet,statistics,contentDetails',
            id=video_id,
            maxResults=50
        ).execute()

        if video_response['items']:
            video_details = {
                "Video_Id": video_id,
                "Video_Name": video_response['items'][0]['snippet']['title'],
                "Video_Description": video_response['items'][0]['snippet']['description'],
                "Video_Statistics": video_response['items'][0]['statistics']['commentCount'],
                "Comment_Count": video_response['items'][0]['statistics'].get('commentCount', 0),
                "View_Count": video_response['items'][0]['statistics'].get('viewCount', 0),
                "Like_Count": video_response['items'][0]['statistics'].get('likeCount', 0),
                "Favorite_Count": video_response['items'][0]['statistics'].get('favoriteCount', 0),
                "Published_At": video_response['items'][0]['snippet']['publishedAt'],
                "Duration": video_response['items'][0]['contentDetails']['duration'],
                "Thumbnail": video_response['items'][0]['snippet']['thumbnails']['default']['url'],
                "Caption_Status": video_response['items'][0]['contentDetails'].get('caption'),
            }
            
            videoid_details.append(video_details)
    
    return videoid_details
# ---------------
getVD = get_videodetails(youtube, videoID_data)

In [32]:
# get_videodetails(youtube, videoID_data)
print(len(getVD))

50

In [33]:
# Fetching the Commands of each videos
## 
v_c_data = []

def get_comments_details(youtube,videoID_data): # ----------- 4
    for i in videoID_data:
        comments_response = youtube.commentThreads().list(
            part='snippet',
            maxResults=2,  # only 2 comments per vios
            videoId=i
        ).execute()
    
        comments = comments_response['items']
        
        for comment in comments:
            comment_information = {
                "Video_iD": i,
                "Comment_Id": comment['snippet']['topLevelComment']['id'],
                "Comment_Text": comment['snippet']['topLevelComment']['snippet']['textDisplay'],
                "Comment_Author": comment['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                "Comment_PublishedAt": comment['snippet']['topLevelComment']['snippet']['publishedAt']
            }

            v_c_data.append(comment_information)
    
    return v_c_data
# ---------------
getCC = get_comments_details(youtube,videoID_data)

In [35]:
getCC

[{'Video_iD': '8Onzq7DcqGk',
  'Comment_Id': 'Ugw0Ux2OgqLqvkQHQ5x4AaABAg',
  'Comment_Text': 'How much u spend for flight ticket bro. <br>Ena airport la irudu namibia poniga',
  'Comment_Author': 'Imran A',
  'Comment_PublishedAt': '2023-05-13T15:16:01Z'},
 {'Video_iD': 'zIsJHpCSB4k',
  'Comment_Id': 'UgyVojZ6wfEZfPcDV794AaABAg',
  'Comment_Text': 'selamat datang dan hati hati ü§†',
  'Comment_Author': 'Dc By',
  'Comment_PublishedAt': '2023-05-10T12:34:52Z'},
 {'Video_iD': 'iAr7DnIKf2k',
  'Comment_Id': 'UgwWMyTJjVZAvJjvkW94AaABAg',
  'Comment_Text': 'Package details share pannuga bro',
  'Comment_Author': 'kalai selvan',
  'Comment_PublishedAt': '2023-04-30T13:37:48Z'},
 {'Video_iD': 'sTtfW1utZZs',
  'Comment_Id': 'UgwyAHfM0FSQ_dIx6ZZ4AaABAg',
  'Comment_Text': 'How much you spend for whole trip bro',
  'Comment_Author': 'Imran A',
  'Comment_PublishedAt': '2023-04-12T08:22:08Z'},
 {'Video_iD': 'Q8pQ7uI5Reg',
  'Comment_Id': 'UgyGpAeLisnI_Zun3JV4AaABAg',
  'Comment_Text': 'Super love from srilanka üá±üá∞üíó',
  'Comment_Author': 'üî•ATFüî•',
  'Comment_PublishedAt': '2023-03-19T18:20:13Z'},
 {'Video_iD': '7o5qCo0DkW4',
  'Comment_Id': 'UgxtncTS-_jXwhylkEx4AaABAg',
  'Comment_Text': 'Neeingal pesuvathil niraya english athigam tamil pesa muyarchi pannuinga',
  'Comment_Author': 'Ashik Batcha',
  'Comment_PublishedAt': '2023-03-05T15:44:38Z'},
 {'Video_iD': 'pWHiS-6u-Fs',
  'Comment_Id': 'Ugzg_bHfIFI1SnFVvjh4AaABAg',
  'Comment_Text': 'Like! splendid vlog!m r!üìΩ',
  'Comment_Author': 'Prohodaction',
  'Comment_PublishedAt': '2023-01-18T07:57:36Z'},
 {'Video_iD': 'M575CWo7odg',
  'Comment_Id': 'UgzAQlrtzTfbOVez-kt4AaABAg',
  'Comment_Text': 'Bro avar number add pannuga bro',
  'Comment_Author': 'kalai selvan',
  'Comment_PublishedAt': '2023-04-29T17:11:47Z'},
 {'Video_iD': 'M575CWo7odg',
  'Comment_Id': 'UgwxLiKb8xmNLT4xKuZ4AaABAg',
  'Comment_Text': 'Fabulous',
  'Comment_Author': 'dinesh babu',
  'Comment_PublishedAt': '2023-01-17T13:59:20Z'},
 {'Video_iD': 'HPU-PuOfQC4',
  'Comment_Id': 'UgwIyfzl0FlqqaIRxVZ4AaABAg',
  'Comment_Text': 'Water slide eagle view is gorgeous ‚ù§Ô∏è',
  'Comment_Author': 'JOY YOSHABEL WELLINGTON',
  'Comment_PublishedAt': '2022-12-04T11:57:43Z'},
 {'Video_iD': '7CbuC6gVZbM',
  'Comment_Id': 'UgxQINqsClO6Yxmf5RV4AaABAg',
  'Comment_Text': 'üòãü¶êü¶Ä',
  'Comment_Author': 'maathan methil',
  'Comment_PublishedAt': '2023-04-20T05:39:15Z'},
 {'Video_iD': 'VWm-K6sqxqc',
  'Comment_Id': 'UgyH3zygVCTba-Bw_9J4AaABAg',
  'Comment_Text': 'Thirumba nadantha varuva',
  'Comment_Author': 'gokul santhiya',
  'Comment_PublishedAt': '2022-11-25T12:04:45Z'},
 {'Video_iD': 'y5wvAlhvLAI',
  'Comment_Id': 'Ugyhuc3tas0vVgiQqrh4AaABAg',
  'Comment_Text': '‡Æ®‡Æ≤‡Øç‡Æ≤‡Ææ ‡Æö‡ØÅ‡Æ§‡Øç‡Æ§‡Æø‡Æü‡Øç‡Æü‡ØÅ ‡Æµ‡Ææ‡Æô‡Øç‡Æï ‡Æ™‡Ææ‡Æ§‡ØÅ‡Æï‡Ææ‡Æ™‡Øç‡Æ™‡ØÅ ‡ÆÆ‡ØÅ‡Æï‡Øç‡Æï‡Æø‡ÆØ‡Æ§‡Øç‡Æ§‡ØÅ‡Æµ‡ÆÆ‡Øç ‡Æµ‡Ææ‡ÆØ‡Øç‡Æ®‡Øç‡Æ§‡Æ§‡ØÅ',
  'Comment_Author': 'Manjunathan S',
  'Comment_PublishedAt': '2022-12-09T12:34:45Z'},
 {'Video_iD': 'y5wvAlhvLAI',
  'Comment_Id': 'Ugw1Yej9oIqUaTtLEUh4AaABAg',
  'Comment_Text': 'Ministry of crabs is amazing',
  'Comment_Author': 'dinesh babu',
  'Comment_PublishedAt': '2022-11-19T06:39:04Z'},
 {'Video_iD': '6BEETa4Eofg',
  'Comment_Id': 'UgyKPCokb0cv1Fav0Xh4AaABAg',
  'Comment_Text': 'anna unka place',
  'Comment_Author': 'SUP ERC EEL',
  'Comment_PublishedAt': '2023-04-08T14:50:12Z'},
 {'Video_iD': 'hkIjTaVTzQY',
  'Comment_Id': 'UgyTakIx-EVC11UIErp4AaABAg',
  'Comment_Text': 'Nice',
  'Comment_Author': 'JOY YOSHABEL WELLINGTON',
  'Comment_PublishedAt': '2022-11-08T15:13:19Z'},
 {'Video_iD': 'VGzFGsdei3A',
  'Comment_Id': 'UgxmockFGUsz5u2d_C94AaABAg',
  'Comment_Text': 'Snorkling la evalo price broo aachu ?',
  'Comment_Author': 'Tamil_travelgram',
  'Comment_PublishedAt': '2022-11-29T11:42:40Z'},
 {'Video_iD': 'myh1FhW3K4o',
  'Comment_Id': 'UgyrsCbr4KWU4bgB5_t4AaABAg',
  'Comment_Text': 'Bro ongaloda complete budget bali video illana instagram la post pannunga broo',
  'Comment_Author': 'Tamil_travelgram',
  'Comment_PublishedAt': '2022-11-29T11:33:55Z'},
 {'Video_iD': 'gZp0wh3vbhA',
  'Comment_Id': 'UgxpGN1YOE0CnSd_NDZ4AaABAg',
  'Comment_Text': 'First short video pottu subscribers increase pannunga bro...',
  'Comment_Author': 'Senthil Kumar',
  'Comment_PublishedAt': '2022-10-11T14:23:57Z'},
 {'Video_iD': 'g3AoOeKNzOg',
  'Comment_Id': 'Ugx2QMWoa8m7zbzvey54AaABAg',
  'Comment_Text': 'Astonishing',
  'Comment_Author': 'dinesh babu',
  'Comment_PublishedAt': '2022-11-16T07:53:13Z'},
 {'Video_iD': 'g3AoOeKNzOg',
  'Comment_Id': 'UgxByoDyxnTZ1kJ4C7B4AaABAg',
  'Comment_Text': 'Vera level',
  'Comment_Author': 'JOY YOSHABEL WELLINGTON',
  'Comment_PublishedAt': '2022-10-01T15:15:31Z'},
 {'Video_iD': 'oY2e_flNL4U',
  'Comment_Id': 'UgzOUUHmnPmmbGT5Pvx4AaABAg',
  'Comment_Text': 'Supper da',
  'Comment_Author': 'Sujin Alex',
  'Comment_PublishedAt': '2022-10-06T18:59:22Z'},
 {'Video_iD': 'cfgFoO_yUg8',
  'Comment_Id': 'UgxPI_Ui9BF6hnQLjQd4AaABAg',
  'Comment_Text': 'Amazing place ... Nice video .. chraming voice üëç',
  'Comment_Author': 'JOY YOSHABEL WELLINGTON',
  'Comment_PublishedAt': '2022-09-17T15:53:56Z'},
 {'Video_iD': 'VmR2o4Xxn24',
  'Comment_Id': 'Ugztv9EZbqE2twcSIhB4AaABAg',
  'Comment_Text': 'Adventurer strikes again with an astonishing Temple of Bali with lots of information keep up the good work',
  'Comment_Author': 'dinesh babu',
  'Comment_PublishedAt': '2022-09-11T17:33:56Z'},
 {'Video_iD': 'VmR2o4Xxn24',
  'Comment_Id': 'UgzSHRR4ip6SZ3sbpdV4AaABAg',
  'Comment_Text': 'Very nice, relaxing and informative content ü§òYou have done nice work with your vlogüî•üî•Your last few videos made me your fan üòçüòçCan&#39;t wait to see next video.',
  'Comment_Author': 'Daily Passenger Travels',
  'Comment_PublishedAt': '2022-09-10T15:42:13Z'},
 {'Video_iD': 'se7JzfHKlmQ',
  'Comment_Id': 'UgyWWAPeNxXze_mv-T94AaABAg',
  'Comment_Text': 'Bro am planning for bali 3night what are the places i can cover pls suggest bro',
  'Comment_Author': 'Imran A',
  'Comment_PublishedAt': '2023-04-13T10:31:27Z'},
 {'Video_iD': 'se7JzfHKlmQ',
  'Comment_Id': 'Ugyfl8pe6h0WjDFOa0B4AaABAg',
  'Comment_Text': 'Next Stop Adventure Continues.....Keep up the good work',
  'Comment_Author': 'dinesh babu',
  'Comment_PublishedAt': '2022-09-08T10:23:24Z'}]

In [34]:
# getCC
print (len(getCC))

27

In [43]:
#
##
ch_df = pd.DataFrame([getCH]) # Channel ID Data Frame
pl_df = pd.DataFrame([videoID_data]) # Playlist ID Data Frame
vd_df = pd.DataFrame([getVD]) # Video details Data Frame
cc_df = pd.DataFrame([getCC]) # Comments Data Frame
##
#
getCH = get_channel_data(youtube, channel_id) # channel details
videoID_data = get_videoID_data(youtube, playid) # playlist details
getVD = get_videodetails(youtube, videoID_data) # video details
getCC = get_comments_details(youtube,videoID_data) # comment details

In [42]:
ch_df

,Channel_name,Channel_ID,Subscribers,Views,Description,Total_Videos,Playlist_id
0,Nomadic Tamil Guy,UC3QOPapQLnIYErI86ltL_dQ,205,18948,,52,UU3QOPapQLnIYErI86ltL_dQ

In [44]:
pl_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,xngaN6GnhbM,C8on2HfEED8,zlX7gy9AtIc,ca8fGNUHWS4,8Onzq7DcqGk,dl3FWbIvepg,F3XEfQs7EP4,zIsJHpCSB4k,iAr7DnIKf2k,NqmBHrQA1AI,...,Wvpv_BpsJQM,BJRbagPvF4o,55f4HNxpdg8,myh1FhW3K4o,gZp0wh3vbhA,g3AoOeKNzOg,oY2e_flNL4U,cfgFoO_yUg8,VmR2o4Xxn24,se7JzfHKlmQ

In [45]:
vd_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,"{'Video_Id': 'xngaN6GnhbM', 'Video_Name': 'BAL...","{'Video_Id': 'C8on2HfEED8', 'Video_Name': 'Exp...","{'Video_Id': 'zlX7gy9AtIc', 'Video_Name': 'Vin...","{'Video_Id': 'ca8fGNUHWS4', 'Video_Name': 'The...","{'Video_Id': '8Onzq7DcqGk', 'Video_Name': 'sun...","{'Video_Id': 'dl3FWbIvepg', 'Video_Name': 'Thi...","{'Video_Id': 'F3XEfQs7EP4', 'Video_Name': '30 ...","{'Video_Id': 'zIsJHpCSB4k', 'Video_Name': 'Vol...","{'Video_Id': 'iAr7DnIKf2k', 'Video_Name': 'Dol...","{'Video_Id': 'NqmBHrQA1AI', 'Video_Name': '100...",...,"{'Video_Id': 'Wvpv_BpsJQM', 'Video_Name': 'Bal...","{'Video_Id': 'BJRbagPvF4o', 'Video_Name': 'BAL...","{'Video_Id': '55f4HNxpdg8', 'Video_Name': '‡Æ™‡Ææ‡Æ≤...","{'Video_Id': 'myh1FhW3K4o', 'Video_Name': '‡Æí‡Æ∞‡ØÅ...","{'Video_Id': 'gZp0wh3vbhA', 'Video_Name': 'BAL...","{'Video_Id': 'g3AoOeKNzOg', 'Video_Name': '120...","{'Video_Id': 'oY2e_flNL4U', 'Video_Name': 'Bal...","{'Video_Id': 'cfgFoO_yUg8', 'Video_Name': 'BAL...","{'Video_Id': 'VmR2o4Xxn24', 'Video_Name': 'BAL...","{'Video_Id': 'se7JzfHKlmQ', 'Video_Name': 'BAL..."

In [46]:
cc_df

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,"{'Video_iD': '8Onzq7DcqGk', 'Comment_Id': 'Ugw...","{'Video_iD': 'zIsJHpCSB4k', 'Comment_Id': 'Ugy...","{'Video_iD': 'iAr7DnIKf2k', 'Comment_Id': 'Ugw...","{'Video_iD': 'sTtfW1utZZs', 'Comment_Id': 'Ugw...","{'Video_iD': 'Q8pQ7uI5Reg', 'Comment_Id': 'Ugy...","{'Video_iD': '7o5qCo0DkW4', 'Comment_Id': 'Ugx...","{'Video_iD': 'pWHiS-6u-Fs', 'Comment_Id': 'Ugz...","{'Video_iD': 'M575CWo7odg', 'Comment_Id': 'Ugz...","{'Video_iD': 'M575CWo7odg', 'Comment_Id': 'Ugw...","{'Video_iD': 'HPU-PuOfQC4', 'Comment_Id': 'Ugw...",...,"{'Video_iD': 'myh1FhW3K4o', 'Comment_Id': 'Ugy...","{'Video_iD': 'gZp0wh3vbhA', 'Comment_Id': 'Ugx...","{'Video_iD': 'g3AoOeKNzOg', 'Comment_Id': 'Ugx...","{'Video_iD': 'g3AoOeKNzOg', 'Comment_Id': 'Ugx...","{'Video_iD': 'oY2e_flNL4U', 'Comment_Id': 'Ugz...","{'Video_iD': 'cfgFoO_yUg8', 'Comment_Id': 'Ugx...","{'Video_iD': 'VmR2o4Xxn24', 'Comment_Id': 'Ugz...","{'Video_iD': 'VmR2o4Xxn24', 'Comment_Id': 'Ugz...","{'Video_iD': 'se7JzfHKlmQ', 'Comment_Id': 'Ugy...","{'Video_iD': 'se7JzfHKlmQ', 'Comment_Id': 'Ugy..."

In [49]:
# Creating a Mani Dictionary which includes all channel details:
##
Main_data_frame = {
    'Channel': getCH,
    'VideoID': videoID_data,
    'VideoDetail': getVD,
    'Comments': getCC
}

In [50]:
Main_data_frame

{'Channel': {'Channel_name': 'Nomadic Tamil Guy',
  'Channel_ID': 'UC3QOPapQLnIYErI86ltL_dQ',
  'Subscribers': '205',
  'Views': '18948',
  'Description': '',
  'Total_Videos': '52',
  'Playlist_id': 'UU3QOPapQLnIYErI86ltL_dQ'},
 'VideoID': ['xngaN6GnhbM',
  'C8on2HfEED8',
  'zlX7gy9AtIc',
  'ca8fGNUHWS4',
  '8Onzq7DcqGk',
  'dl3FWbIvepg',
  'F3XEfQs7EP4',
  'zIsJHpCSB4k',
  'iAr7DnIKf2k',
  'NqmBHrQA1AI',
  '__RvoG2pSUA',
  'Qm5Ip7hvY9k',
  'SOCn-eT9TJc',
  'sTtfW1utZZs',
  'X1BMHfM_RyA',
  'Q8pQ7uI5Reg',
  'mnTsnOIxGSI',
  '7o5qCo0DkW4',
  'umwKSOFbqjM',
  '4CxzqRxIyXU',
  'E1I9MW6ZUlc',
  'pWHiS-6u-Fs',
  'M575CWo7odg',
  'oSdtIV1209M',
  'TuaOHuDzj_s',
  'YLVz4rLonMg',
  'M_wfioq8bfc',
  'HPU-PuOfQC4',
  '7CbuC6gVZbM',
  'VWm-K6sqxqc',
  'lnqYq6rtWhE',
  'sm66tThqoZw',
  'i6snKiKttT4',
  'y5wvAlhvLAI',
  'vQGTmJergDk',
  '6BEETa4Eofg',
  'hkIjTaVTzQY',
  'CsuLpNOAcTo',
  'VGzFGsdei3A',
  '_93Lb5yzQJ0',
  'Wvpv_BpsJQM',
  'BJRbagPvF4o',
  '55f4HNxpdg8',
  'myh1FhW3K4o',
  'gZp0wh3vbhA',
  'g3AoOeKNzOg',
  'oY2e_flNL4U',
  'cfgFoO_yUg8',
  'VmR2o4Xxn24',
  'se7JzfHKlmQ'],
 'VideoDetail': [{'Video_Id': 'xngaN6GnhbM',
   'Video_Name': 'BALI ‡Æ§‡ØÄ‡Æµ‡Æø‡Æ≤‡Øç WHITE WATER RAFTING TRY ‡Æ™‡Æ£‡Øç‡Æ£ ‡Æ™‡Øã‡Æ±‡Øã‡ÆÆ‡Øç, sema fun!!',
   'Video_Description': "On our Indonesian trip, we are back again on Bali island. We had an amazing experience in East java. Today we are going to try white water rafting in bali. We stayed at a budget home-stay in Ubud and booked a white water rafting tour with Graha white water rafting company. We went there a bit late, so we had to wait for our turn. Most of the tourist attractions in Bali will get crowded during the day, so it's better to go to these spots earlier. We had a 3 hour session at the Ayush river, it was super fun.\n\nI hope you like my video.\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #ubud #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #waterrafting #balitrip\n#volcano #bromo #ijen #hike #traveller #backpacker #baliguide #river",
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '46',
   'Like_Count': '2',
   'Favorite_Count': '0',
   'Published_At': '2023-06-05T11:59:44Z',
   'Duration': 'PT6M19S',
   'Thumbnail': 'https://i.ytimg.com/vi/xngaN6GnhbM/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'C8on2HfEED8',
   'Video_Name': "Experience the thrill of a lifetime with Bali's white water rafting! #short",
   'Video_Description': 'Watch the full video @ https://youtu.be/xngaN6GnhbM\n\n #riverrafting   #whitewaterrafting #adventure #Bali #travel #rafting #nature #water #river #outdoor #fun',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '111',
   'Like_Count': '2',
   'Favorite_Count': '0',
   'Published_At': '2023-06-05T09:03:22Z',
   'Duration': 'PT26S',
   'Thumbnail': 'https://i.ytimg.com/vi/C8on2HfEED8/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'zlX7gy9AtIc',
   'Video_Name': 'Vintage car themed restaurant in namibia. #shorts #travel',
   'Video_Description': '',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '42',
   'Like_Count': '1',
   'Favorite_Count': '0',
   'Published_At': '2023-05-20T14:26:50Z',
   'Duration': 'PT15S',
   'Thumbnail': 'https://i.ytimg.com/vi/zlX7gy9AtIc/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'ca8fGNUHWS4',
   'Video_Name': 'The famous BLUE VOLCANO of INDONESIA, Kawah Ijen, East Java EP-3 #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': "On our Indonesian trip it's a very interesting day. We are in east java now. English speaking people are a rare find here. In our east java series we are going to the famous blue flame volcano of indonesia. They call it kawah Ijen, kawah means volcano in Indonesian. The blue flame is because of the intense reaction from the sulphur that gets out of the volcano with the atmospheric air. We had to wear a gas mask to safeguard ourselves from the sulphur that got mixed with the atmosphere. The guide mentioned smelling sulphur gas can cause serious damage to our respiratory system.\nBut the blue flame is one of a kind, and can be seen only in Indonesia and ethiopia.\n\nI have never seen such a majestic place in my whole life!\n\nI hope you like my video.\n\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #eastjava #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #ubud #balitrip\n#volcano #bromo #ijen #hike #traveller #backpacker #baliguide",
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '69',
   'Like_Count': '9',
   'Favorite_Count': '0',
   'Published_At': '2023-05-16T03:30:11Z',
   'Duration': 'PT7M11S',
   'Thumbnail': 'https://i.ytimg.com/vi/ca8fGNUHWS4/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': '8Onzq7DcqGk',
   'Video_Name': 'sunrise over the Queer tree forest! #namibia #shorts #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': '#sunrise\n#namibia\n#cliff\n#nature\n#photography\n#travel\n#beautiful\n#breathtaking\n#amazing\n#stunning\n#perfect',
   'Video_Statistics': '1',
   'Comment_Count': '1',
   'View_Count': '53',
   'Like_Count': '4',
   'Favorite_Count': '0',
   'Published_At': '2023-05-13T04:00:04Z',
   'Duration': 'PT31S',
   'Thumbnail': 'https://i.ytimg.com/vi/8Onzq7DcqGk/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'dl3FWbIvepg',
   'Video_Name': 'This Namibian sunrise is so perfect, it looks like it was painted! #shorts',
   'Video_Description': 'I hope you like my video.\n\n#travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç  #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog \n#waterfalls  #hike #traveller #backpacker #sunrise\n#namibia\n#cliff\n#nature\n#photography\n#travel\n#beautiful\n#breathtaking\n#amazing\n#stunning\n#perfect',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '16',
   'Like_Count': '0',
   'Favorite_Count': '0',
   'Published_At': '2023-05-12T16:40:14Z',
   'Duration': 'PT13S',
   'Thumbnail': 'https://i.ytimg.com/vi/dl3FWbIvepg/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'F3XEfQs7EP4',
   'Video_Name': "30 Days of Paradise Unveiled! You Won't Believe What We Discovered in Bali... #shorts",
   'Video_Description': '',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '410',
   'Like_Count': '10',
   'Favorite_Count': '0',
   'Published_At': '2023-05-07T08:35:56Z',
   'Duration': 'PT14S',
   'Thumbnail': 'https://i.ytimg.com/vi/F3XEfQs7EP4/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'zIsJHpCSB4k',
   'Video_Name': 'Volcano Bromo Sunrise Hike and Dirt bike la fun ‡Æ™‡Æ£‡Øç‡Æ£ ‡Æ™‡Øã‡Æ±‡Øã‡ÆÆ‡Øç, East Java EP-2 #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': "On our Indonesian trip it's a very interesting day. We are in east java now. English speaking people are a rare find here. In our east java series we are going to the bromo region. We barely slept for 2 hours last night and today we are going to climb mount bromo, which is a 7641ft active volcano in indonesia. I heard that there is a 700 year old ganapathy statue on top of the volcano, so we decided to go for a sunrise hike to this volcano and look for the statue. It was a blissful sight to watch indonesians still making pooja to this statue till date.\nI have never seen such a majestic place in my whole life!\n\nI hope you like my video.\n\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #eastjava #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #ubud #balitrip\n#waterfalls #bromo #volcano #hike #traveller #backpacker #baliguide",
   'Video_Statistics': '1',
   'Comment_Count': '1',
   'View_Count': '139',
   'Like_Count': '8',
   'Favorite_Count': '0',
   'Published_At': '2023-05-06T10:09:54Z',
   'Duration': 'PT8M10S',
   'Thumbnail': 'https://i.ytimg.com/vi/zIsJHpCSB4k/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'iAr7DnIKf2k',
   'Video_Name': 'Dolphin village ah visit panna porom. Bali trip #shorts',
   'Video_Description': '',
   'Video_Statistics': '2',
   'Comment_Count': '2',
   'View_Count': '684',
   'Like_Count': '34',
   'Favorite_Count': '0',
   'Published_At': '2023-04-27T06:46:44Z',
   'Duration': 'PT57S',
   'Thumbnail': 'https://i.ytimg.com/vi/iAr7DnIKf2k/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'NqmBHrQA1AI',
   'Video_Name': '1000 waterfalls ‡Æï‡ØÇ‡Æü‡ØÅ‡ÆÆ‡Øç ‡Æí‡Æ∞‡ØÅ ‡Æ™‡Æø‡Æ∞‡ÆÆ‡Ææ‡Æ£‡Øç‡Æü INDONESIA ‡ÆÆ‡Æ≤‡Øà‡Æ™‡Øç ‡Æ™‡Æï‡ØÅ‡Æ§‡Æø, East Java EP-1 #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': "On our Indonesian trip it's a very interesting day. We are travelling from Bali to East Java. East Java is a hidden gem, paradise in Indonesia. Today is day 1 in the East Java series and we are at the surabaya airport in east java .we are going to visit a breathtaking place called Tumpak Sewu. The name comes from an Indonesian language and it means 1000 waterfalls. I have never seen such a majestic place in my whole life!\n\nHope you like my video.\n\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #eastjava #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #ubud #balitrip\n#waterfalls #tumpaksewu #traveler #backpacker #baliguide",
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '162',
   'Like_Count': '11',
   'Favorite_Count': '0',
   'Published_At': '2023-04-25T06:56:05Z',
   'Duration': 'PT5M50S',
   'Thumbnail': 'https://i.ytimg.com/vi/NqmBHrQA1AI/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': '__RvoG2pSUA',
   'Video_Name': '‡Æá‡Æ©‡Øç‡Æ©‡Øà‡Æï‡Øç‡Æï‡ØÅ BALI ‡Æ§‡ØÄ‡Æµ‡Æø‡Æ≤‡Øç SOUND HEALING TRY ‡Æ™‡Æ£‡Øç‡Æ£ ‡Æ™‡Øã‡Æ±‡Øã‡ÆÆ‡Øç #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': "Today on our Bali trip, we are going to try sound healing. We are back in Ubud, it's a beautiful morning today. While I was talking to my friend he mentioned about Pyramid of Chi. Here they practise a lot of meditation and soul healing techniques. We are going to try sound healing which involves using a water bed and sound vibrators.\n\nI hope you like my video.\n\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #sidemen #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #ubud #balitrip\n#soundhealing #meditation #traveller #backpacker",
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '92',
   'Like_Count': '6',
   'Favorite_Count': '0',
   'Published_At': '2023-04-15T03:30:08Z',
   'Duration': 'PT6M16S',
   'Thumbnail': 'https://i.ytimg.com/vi/__RvoG2pSUA/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'Qm5Ip7hvY9k',
   'Video_Name': 'üò≤This is What Happens When You Hike Over an Active Volcano at Dawn! #shorts',
   'Video_Description': 'https://www.youtube.com/watch?v=umwKSOFbqjM\n#bali  #tamil #tamilsong #tamilreels #volcano #travelling #worldtraveler #lovetoday #balitrip #traveltamizhan',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '196',
   'Like_Count': '4',
   'Favorite_Count': '0',
   'Published_At': '2023-04-11T09:12:32Z',
   'Duration': 'PT52S',
   'Thumbnail': 'https://i.ytimg.com/vi/Qm5Ip7hvY9k/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'SOCn-eT9TJc',
   'Video_Name': 'Edhu, Walk and lift laye Guinness world record panalama?üò≥ #shorts',
   'Video_Description': '#tamil #tamilsong #tamilreels #guinness #worldrecord #travelling #worldtraveler #lovetoday',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '1912',
   'Like_Count': '96',
   'Favorite_Count': '0',
   'Published_At': '2023-04-08T14:08:43Z',
   'Duration': 'PT1M',
   'Thumbnail': 'https://i.ytimg.com/vi/SOCn-eT9TJc/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'sTtfW1utZZs',
   'Video_Name': 'AVATAR ‡Æâ‡Æ≤‡Æï‡ÆÆ‡Øç ‡ÆÆ‡Ææ‡Æ∞‡Æø ‡Æá‡Æ∞‡ØÅ‡Æï‡Øç‡Æï‡ØÅ ‡Æá‡Æ®‡Øç‡Æ§‡Æ§‡Øç ‡Æ§‡ØÄ‡Æµ‡ØÅ, NUSA PENIDA ISLAND DAY 2 #bali #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': 'Today on our Bali trip, we are still in nusa penida. This is day 2, today we wake up early and head to the famous Romaphon treehouse to watch an epic sunrise. \n\nNusa penida island feels like another planet, crystal clear waters and amazing views. This is my Nusa penida island itinerary for day 2,\nVisiting the famous Romaphon treehouse\nThousand island view point\nDiving at pure dive resort\n\n\nI hope you like my video.\n\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #nusapenida #nusaislands\n#nusa #penida #islands #diving #marinelife #fishes #indiantraveller #underwater',
   'Video_Statistics': '4',
   'Comment_Count': '4',
   'View_Count': '49',
   'Like_Count': '8',
   'Favorite_Count': '0',
   'Published_At': '2023-04-08T03:30:28Z',
   'Duration': 'PT9M5S',
   'Thumbnail': 'https://i.ytimg.com/vi/sTtfW1utZZs/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'X1BMHfM_RyA',
   'Video_Name': 'NUSA PENIDA ISLAND, #bali Island‡Æï‡Øç‡Æï‡ØÅ ‡ÆÆ‡Æø‡Æï ‡ÆÖ‡Æ∞‡ØÅ‡Æï‡Æø‡Æ≤‡Øç ‡Æá‡Æ∞‡ØÅ‡Æï‡Øç‡Æï‡ØÅ‡ÆÆ‡Øç ‡Æí‡Æ∞‡ØÅ ‡Æö‡Øä‡Æ∞‡Øç‡Æï ‡Æ™‡ØÇ‡ÆÆ‡Æø #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': 'Today on our Bali trip, we are moving from sidemen to Nusa Penida Island. Most people would take a boat from Sanur port, but unfortunately I was too far away from Sanur to catch the morning boat. With the help of a local guy I went to a place called Kusamba port which was closer to Sidemen and they have a boat to head to Nusa Penida island.\n\nNusa Penida island feels like another planet, crystal clear waters and amazing views. This is my Nusa Penida island itinerary for day 1,\n\nKelinking beach(dinosaur beach or T-rex beach)\nPure dive resort diving lessons\nTrembling nature spring\nSunset and food at crystal bay\n\n\nI hope you like my video.\n\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #sidemen #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #nusapenida #nusaislands\n#nusa #penida #kelingking #tembling #crystalbay #divinglessons',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '57',
   'Like_Count': '5',
   'Favorite_Count': '0',
   'Published_At': '2023-04-01T03:30:10Z',
   'Duration': 'PT12M18S',
   'Thumbnail': 'https://i.ytimg.com/vi/X1BMHfM_RyA/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'Q8pQ7uI5Reg',
   'Video_Name': '‚Çπ10,000 Luxury Forest Stay Experience in BALI, Vera Level la ‡Æá‡Æ∞‡ØÅ‡Æ®‡Øç‡Æ§‡ØÅ‡Æö‡Øç‡Æö‡Æø #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': "In today's video, we are going to stay in the middle of the forest in a property called Hideout Bali. It's been almost 20 days in bali. It almost feels like a second home. But this is the first time I am trying to stay in a luxury place. This property by HIDEOUT is the most budget option by them, the rest are quite expensive than ‚Çπ10,000. The whole experience was amazing, far away from all the busy city lifestyle, sounds of cars and  bikes. I really enjoyed staying here.\n\nI hope you like my video.\n\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #sidemen #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #silver #luxurystay #luxury #hotel #balistay #hideout #camping #foreststay #forest #balihotels",
   'Video_Statistics': '2',
   'Comment_Count': '2',
   'View_Count': '300',
   'Like_Count': '12',
   'Favorite_Count': '0',
   'Published_At': '2023-03-18T03:30:11Z',
   'Duration': 'PT5M57S',
   'Thumbnail': 'https://i.ytimg.com/vi/Q8pQ7uI5Reg/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'mnTsnOIxGSI',
   'Video_Name': 'BALI ‡Æ§‡ØÄ‡Æµ‡Æø‡Æ≤‡Øç ‡Æé‡Æ©‡Æï‡Øç‡Æï‡ØÅ ‡Æ®‡Ææ‡Æ©‡Øá ‡Æö‡ØÜ‡ÆØ‡Øç‡Æ§‡ØÅ ‡Æï‡Øä‡Æ£‡Øç‡Æü SILVER RING, Silversmith day',
   'Video_Description': "In our Indonesia series, today we are visiting a silversmith's place in BALI. This place is located in the Sidemen Regency. The speciality about this place is you can make your own silver ring here. So I called the owner in the morning and booked a spot. It was a memorable day in my Indonesia travels, where I created my own ring as a memory and to wear it everyday.\n\n\nI hope you like my video\n\n#indonesia #bali #travel #travelvlog #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç #sidemen #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #silver #silverring #silversmith",
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '345',
   'Like_Count': '7',
   'Favorite_Count': '0',
   'Published_At': '2023-03-11T03:30:22Z',
   'Duration': 'PT7M46S',
   'Thumbnail': 'https://i.ytimg.com/vi/mnTsnOIxGSI/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': '7o5qCo0DkW4',
   'Video_Name': '‡Æï‡Æ£‡Øç‡Æ£‡ØÅ‡Æï‡Øç‡Æï‡ØÅ ‡Æé‡Æü‡Øç‡Æü‡ØÅ‡ÆÆ‡Øç ‡Æ§‡ØÇ‡Æ∞‡ÆÆ‡Øç ‡Æµ‡Æ∞‡Øà ‡Æµ‡ÆØ‡Æ≤‡Øç ‡Æµ‡ØÜ‡Æ≥‡Æø, #BALI ‡Æ§‡ØÄ‡Æµ‡Æø‡Æ©‡Øç ‡Æµ‡Æø‡Æµ‡Æö‡Ææ‡ÆØ ‡Æï‡Æø‡Æ∞‡Ææ‡ÆÆ‡ÆÆ‡Øç #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': 'Today on our Bali trip we are going to visit a 600 hectare farm field called jatiluwih rice terrace, which is the biggest farm land in BALI. you have to pay an entrance fee of 40,000 indonesian rupee to check out jatiluwih. After this I went to an interesting waterfall in the nung nung village. Beautiful and majestic waterfall which has a lot of steps to climb on the way back.\n\nI hope you like my video.\n\n#bali #indonesia #travelvlog #waterfall  #hike #trek #tamil #travel #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #sunrise #farmland #balitravel #jatiluwih',
   'Video_Statistics': '2',
   'Comment_Count': '2',
   'View_Count': '237',
   'Like_Count': '8',
   'Favorite_Count': '0',
   'Published_At': '2023-03-04T04:40:50Z',
   'Duration': 'PT8M13S',
   'Thumbnail': 'https://i.ytimg.com/vi/7o5qCo0DkW4/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'umwKSOFbqjM',
   'Video_Name': '5600 ft VOLCANO ‡ÆÆ‡Øá‡Æ≤ ‡Æè‡Æ±‡Æø SUNRISE ‡Æ™‡Ææ‡Æ∞‡Øç‡Æï‡Øç‡Æï‡Æ™‡Øç‡Æ™‡Øã‡Æ±‡Øã‡ÆÆ‡Øç #BALI #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Description': 'Today on our Bali trip we are going to climb an active volcano. The name is mount Batur, the locals call it Gunung Batur. The trek started at 2.30 am in the morning. The driver from the tour company I booked with came on time to pick up and the climb to the top is 5633ft. It was a long walk, the weather was good, there was a phenomenal sunrise that day. \n\nTRIP DETAILS\nHike guide contact : Radin bali. +62 82144440243\nPick up time from Ubud : 2.30 am(Subject to change based on your area)\nHike duration : 1 hour\nCoffee tasting : included in tour, additional purchases not included\nPick up and drop off : inclusive\nBreakfast: included\nSnack at the top of the mountain : included\nTorch light : Included\n\n\nDrone Credits: Martin Kremecek , GAD VIDEO \n\n\nI hope you like my video.\n\n#bali #indonesia #travelvlog #volcano  #hike #trek #tamil #travel #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #sunrise #sunrisehike #balitravel #volcano #traveltips',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '112',
   'Like_Count': '7',
   'Favorite_Count': '0',
   'Published_At': '2023-02-11T04:49:43Z',
   'Duration': 'PT11M17S',
   'Thumbnail': 'https://i.ytimg.com/vi/umwKSOFbqjM/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': '4CxzqRxIyXU',
   'Video_Name': 'BALI ‡Æ§‡ØÄ‡Æµ‡Æø‡Æ≤‡Øç WINE TOUR ‡Æ™‡Æ£‡Øç‡Æ£ ‡Æ™‡Øã‡Æ±‡Øã‡ÆÆ‡Øç, ‡Æé‡Æµ‡Æ≥‡Øã ‡Æ™‡ØÜ‡Æ∞‡Æø‡ÆØ GRAPES ‡Æ§‡Øã‡Æü‡Øç‡Æü‡ÆÆ‡Øç!! #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog #travel',
   'Video_Description': 'Today is day 10 in our Bali road trip. All the way from the dolphin town, Lovina we arrived to the west national park region. It was just a 20 minutes ride. Today we are visiting the Hatten wines for a wine tasting tour. The whole places is filled with wine grapes everywhere. We got the tour of their grapes garden, harvesting techniques and tasting their wines. \n\nI hope you like my video.\n\n#bali #indonesia #travelvlog #wine #winetour #tamil #travel #‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øçvlog',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '42',
   'Like_Count': '6',
   'Favorite_Count': '0',
   'Published_At': '2023-02-04T03:30:01Z',
   'Duration': 'PT5M51S',
   'Thumbnail': 'https://i.ytimg.com/vi/4CxzqRxIyXU/default.jpg',
   'Caption_Status': 'false'},
  {'Video_Id': 'E1I9MW6ZUlc',
   'Video_Name': 'Its not about the destination, its the journey and memories that makes life interesting #shorts',
   'Video_Description': '#instagood\n#waterfalls #motivation #trending #piratesofthecaribbean',
   'Video_Statistics': '0',
   'Comment_Count': '0',
   'View_Count': '40',
   'Like_Count': '4',
   'Favorite_Count': '0',
   'Published_At': '2023-01-19T04:30:34Z',

In [51]:
Channel_Name

'Nomadic Tamil Guy'

In [53]:
Monog_DATA = Channel_Name

In [54]:
Monog_DATA

'Nomadic Tamil Guy'

# DUMPING DATA TO MONGO DB LAKE

In [ ]:
#
Channel_Name = (datac['Channel_name'])
# Channel_Name
Monog_DATA = Channel_Name
#

In [ ]:
"""
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycollection = mydb.create_collection("mycollection")
print("Collection created successfully!")

"""

In [ ]:
"""
# Create a database
mydb = myclient["mydatabase"]

# Create a collection
mycollection = mydb["mycollection"]

# Select the database and collection

db = client["YTubeData"]
collection = db["tubefulldata"]

# Retrieve the data from the MongoDB collection
data = list(collection.find())

# Retrieve the channel name from the data
Channel_Name = (datac['Channel_name'])

# Create the collection with the channel name
collection = db[Channel_Name]
"""

In [ ]:
#
##
import pymongo
import pandas as pd

# Create a MongoClient instance to connect to the MongoDB server
client = pymongo.MongoClient("mongodb://localhost:27017")

# Select the database
db = client["youtubeid"]
collection = db["Nomadic_Tamil_Guy"]
#
x = collection.insert_one(Main_data_frame) # Inserting the *** DATA into Mongo DB ***
x
#

In [66]:
x = collection.insert_one(Main_data_frame) # Inserting the *** DATA into Mongo DB ***
x
# Collection - is the Variable that is used to store the collection(table) data

In [72]:
print(client.list_database_names()) # Show Data base in Mongo DB:

['FoodApps', 'admin', 'config', 'local', 'myytdb', 'test01', 'youtubeid']

In [73]:
print(db.list_collection_names()) # Show Collections in the Mongo DB Data Base:

['sampleYTPL', 'sampleYTCC', 'Nomadic Tamil Guy', 'sampleTYCD', 'sampleYTVID', 'Nomadic_Tamil_Guy', 'tubefulldata']

# SQL Fetch & Creat Table

In [84]:
import mysql.connector
from pymongo import MongoClient

# MongoDB Connection ----------------------------------------
mongo_conn_str = 'mongodb://localhost:27017/'
mongo_client = MongoClient(mongo_conn_str)
mongo_db = mongo_client['youtubeid']
#
# Select the desired collection in MongoDB
mongo_collection0 = mongo_db['Nomadic Tamil Guy'] # test the New Colletion "-Nomadic Tamil Guy-"
mongo_collection1 = mongo_db['Nomadic Tamil Guy']
mongo_collection2 = mongo_db['Nomadic Tamil Guy']
mongo_collection3 = mongo_db['Nomadic Tamil Guy']

# Fetch data from the MongoDB collection
mongo_data = list(mongo_collection0.find()) # channel details
mongo_data1 = list(mongo_collection1.find()) # video details
mongo_data2 = list(mongo_collection2.find()) # comments details
mongo_data3 = list(mongo_collection3.find()) # playlist details

# MySQL Connection ----------------------------------------
mysql_conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='sql@123456789',
    port=3307,
    database='httable'
)

# Create MySQL table ----------------------------------------
mysql_cursor = mysql_conn.cursor()
#

In [78]:
# Function Creation 01:

def get_sqlchannel_data():
    
    mysql_create_table = """CREATE TABLE nomadic_mysql_chtable
    (
    Channel_name VARCHAR(255),
    Channel_ID VARCHAR(255),
    Subscribers INT,
    Views INT,
    Description TEXT,
    Total_Videos INT,
    Playlist_id VARCHAR(255)
    )"""
    
    mysql_cursor.execute(mysql_create_table)
    
    # Fetch data from MongoDB collection
    mongo_data = mongo_collection0.find()
    
    # Insert data into MySQL table
    for document in mongo_data:
        
        Channel_name = document["Channel"]["Channel_name"]
        Channel_ID = document["Channel"]["Channel_ID"]
        Subscribers = document["Channel"]["Subscribers"]
        Views = document["Channel"]["Views"]
        Description = document["Channel"]["Description"]
        Total_Videos = document["Channel"]["Total_Videos"]
        Playlist_id = document["Channel"]["Playlist_id"]

        mysql_query = """
        INSERT INTO nomadic_mysql_chtable (
            Channel_name, Channel_ID, Subscribers, Views, Description, Total_Videos, Playlist_id
        ) VALUES (
            %s, %s, %s, %s, %s, %s, %s
        )
        """
        mysql_values = (
            Channel_name, Channel_ID, Subscribers, Views, Description, Total_Videos, Playlist_id
        )
        mysql_cursor.execute(mysql_query, mysql_values)

        
    mysql_cursor.execute("""select * from httable.nomadic_mysql_chtable""")

    # Fetch the results of the query
    rows = mysql_cursor.fetchall()

    # Print the rows
    for row in rows:
        print(row)
    
    
    return rows

In [ ]:
#
get_sqlchannel_data()
# print(get_sqlchannel_data())

In [88]:
# Function Creation 02:

def get_sqlchannelvideo_data():
    mysql_create_table = """CREATE TABLE nomadic_mysql_vitable01
    (
    Video_Id VARCHAR(255),
    Video_Name VARCHAR(255),
    Video_Description TEXT,
    Video_Statistics VARCHAR(255),
    Comment_Count INT,
    View_Count INT,
    Like_Count INT,
    Favorite_Count INT,
    Published_At VARCHAR(255),
    Duration VARCHAR(255),
    Thumbnail VARCHAR(255),
    Caption_Status VARCHAR(255)
    )"""
    
    mysql_cursor.execute(mysql_create_table)
    
    # Fetch data from MongoDB collection
    mongo_data1 = mongo_collection1.find()
    
    # Insert data into MySQL table
    for document1 in mongo_data1:
        
        for video_detail in document1["VideoDetail"]:
        
            Video_Id = video_detail["Video_Id"]
            Video_Name = video_detail["Video_Name"]
            Video_Description = video_detail["Video_Description"]
            Video_Statistics = video_detail["Video_Statistics"]
            Comment_Count = video_detail["Comment_Count"]
            View_Count = video_detail["View_Count"]
            Like_Count = video_detail["Like_Count"]
            Favorite_Count = video_detail["Favorite_Count"]
            Published_At = video_detail["Published_At"]
            Duration = video_detail["Duration"]
            Thumbnail = video_detail["Thumbnail"]
            Caption_Status = video_detail["Caption_Status"]


            mysql_query1 = """
            INSERT INTO nomadic_mysql_vitable01 (
                Video_Id, Video_Name, Video_Description, Video_Statistics, Comment_Count, View_Count, Like_Count,Favorite_Count, Published_At, Duration, Thumbnail, Caption_Status 
            ) VALUES (
                %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
            )
            """
            mysql_values1 = (
                Video_Id, Video_Name, Video_Description, Video_Statistics, Comment_Count, View_Count, Like_Count,Favorite_Count, Published_At, Duration, Thumbnail, Caption_Status
            )
            mysql_cursor.execute(mysql_query1, mysql_values1)

    
        mysql_cursor.execute("""select * from httable.nomadic_mysql_vitable01""")

        # Fetch the results of the query
        rows1 = mysql_cursor.fetchall()
    
        # Print the rows
        for row1 in rows1:
            print(row1)
       
    return rows1
#

In [92]:
#
get_sqlchannelvideo_data()
# print(get_sqlchannelvideo_data())

In [98]:
# 02 comments:
# Function Creation 03:
def get_sqlchannelcomments_datas():
    mysql_create_table = """CREATE TABLE nomadic_mysql_cctable
    (
      Video_id VARCHAR(255),
      Comment_id VARCHAR(255),
      Comment_text TEXT,
      Comment_author VARCHAR(255),
      Comment_PublishedAt VARCHAR(255)
    )"""

    mysql_cursor.execute(mysql_create_table)

    # Insert data into MySQL table
    for document2 in mongo_data2:
        for cc_detail in document2["Comments"]:
            Video_iD = cc_detail["Video_iD"]
            Comment_Id = cc_detail["Comment_Id"]
            Comment_Text = cc_detail["Comment_Text"]
            Comment_Author = cc_detail["Comment_Author"]
            Comment_PublishedAt = cc_detail["Comment_PublishedAt"]

            mysql_query2 = """
            INSERT INTO nomadic_mysql_cctable (
                Video_iD, Comment_Id, Comment_Text, Comment_Author, Comment_PublishedAt
            ) VALUES (
                %s, %s, %s, %s, %s
            )
            """
            mysql_values2 = (
                Video_iD, Comment_Id, Comment_Text, Comment_Author, Comment_PublishedAt
            )
            mysql_cursor.execute(mysql_query2, mysql_values2)

        mysql_cursor.execute("""select * from httable.nomadic_mysql_cctable""")

        # Fetch the results of the query
        rows2 = mysql_cursor.fetchall()

        # Print the rows
        for row2 in rows2:
            print(row2)

    return rows2
#

In [ ]:
get_sqlchannelcomments_datas()

In [102]:
# Function Creation 04: -- MY CODE --

def get_sqlchannelplaylist_datas():
    
    mysql_create_table = """CREATE TABLE nomadic_mysql_pltable04( VideoID VARCHAR(255) )"""

    mysql_cursor.execute(mysql_create_table)
    
    # Insert data into the SQL table
    for document3 in mongo_data3:
        video_pliD = document3["VideoID"]
        mysql_query3 = "INSERT INTO nomadic_mysql_pltable04 (VideoID) VALUES (%s)"
        mysql_values3 = [(video_id,) for video_id in video_pliD]
        mysql_cursor.executemany(mysql_query3, mysql_values3)
        # value = [(i,) for i in video_id] # list comprehension
    
    mysql_cursor.execute("""select * from httable.nomadic_mysql_pltable04""")

    # Fetch the results of the query
    rows3 = mysql_cursor.fetchall()

    # Print the rows
    for row3 in rows3:
        print(row3)
    
    return rows3

In [ ]:
get_sqlchannelplaylist_datas()