<a href="https://colab.research.google.com/github/MaathanMethil/Python-Basic/blob/main/TASK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### TASK 01

1.Ceate list with groceries details:

In [292]:
#
gro = ["Eggs","Oranges","bread","chips","cookies","pepsi"]
gro.append("limca")
print(gro)
#
e = ["apple","banana","grapes","melons"]
gro.extend(e)
print(gro)
#
print(gro[2:7])
# -------------------------------------------------------------
ee = {"apple","banana","grapes","melons"}
gros = {"Eggs","Oranges","bread","chips","cookies","pepsi"}
gros.add("apple")
#gros.append("ball") || Append is a List methods
gros.update(ee)
print(gros)
# -------------------------------------------------------------
#

['Eggs', 'Oranges', 'bread', 'chips', 'cookies', 'pepsi', 'limca']
['Eggs', 'Oranges', 'bread', 'chips', 'cookies', 'pepsi', 'limca', 'apple', 'banana', 'grapes', 'melons']
['bread', 'chips', 'cookies', 'pepsi', 'limca']
{'Oranges', 'apple', 'chips', 'cookies', 'bread', 'Eggs', 'banana', 'grapes', 'pepsi', 'melons'}

2.Conditional Statement, Pythagoras Theorem.| AC^2 = AB^2 + BC^2.|
A and C > AC^2 print
B or C > AB^2 print
C > print(C)

In [293]:
# 1
#c2=a2+b2 | a^2 + b^2 = c^2 | ac2 = ab2 + bc2 | 
a,b,c = map(int,input().split())
ab = (a * b)**2
bc = (c * b)**2
ac = (a * c)**2
#
print(ab,bc,ac) # 
if a and c > ac:
  print(ac)
elif b or c > ab:
  print(ab)
elif c > ab:
  print(c)
else:
  print("no")
#

5 6 9
900 2916 2025
900

In [294]:
# 2
# a^2 + b^2 = c^2
a,b,c = map(int,input().split())
#
if (c*c) > (a*a) + (b*b):
  print(c*c)
else:
  print("no")

5 6 9
81

3.Looping Prime Numbers 100, print even or odd.

In [295]:
# 1
# Looping Prime Numbers 100
for i in range(2,101): # 2,3,4,5,6,7,8,9,10,......100
#
    for j in range(2,101):
        if i%j == 0:
            break      # if == 0, exit for loop.
    if i == j:
        print(i,end=",")
#

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [296]:
# 2
# Print Even or Odd.
ed = []
dd = []
for i in range(2,101): # 2,3,4,5,6,7,8,9,10,......100
#
  for j in range(2,101):
      if i%j == 0:
        break      # if == 0, exit.
  if i == j:
    ed.append(j)
#
for i in ed:
  if i%2 ==0:
    #print("even")
    dd.append("even")
  else:
    #print("odd") 
    dd.append("odd")
#
print(*ed)
print(*dd)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
even odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd odd

4.Prime Numbers via List Comprehension

In [297]:
# 1
# Prime Numbers via List Comprehension
for i in range(2,101):
    p = all(i % j != 0 for j in range(2, i))
    if p:
     print(i, end=",")
#
''' 
#Prime Numbers via List Comprehension
prime = [i for i in range(2, 101) if all(i % j != 0 for j in range(2, i))]
#
print(prime, sep=",")
# for i in range(2, 101)
# if all(i % j != 0 for j in range(2, i)
'''

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

' \n#Prime Numbers via List Comprehension\nprime = [i for i in range(2, 101) if all(i % j != 0 for j in range(2, i))]\n#\nprint(prime, sep=",")\n# for i in range(2, 101)\n# if all(i % j != 0 for j in range(2, i)\n'

In [ ]:
# 2
prime = [i for i in range(2, 101) if all(i % j != 0 for j in range(2, i))]
print(prime)
#
for i in range(2, 101)  # i is passed to next Iteration range(2, i) || i = 2

if all((i % j != 0) for j in range(2, i)) # all returns True or False -> all(i % j != 0).

#
prime1 = [i for i in range(2, 101) # 2,3,4,5,6,7,8,9,10,.......100
          # i = 2
                                  if all((i % j != 0) for j in range(2, i))] # j = 2 
                            #output = 2 == True-> pass to i | if False - NO Print - Increment. 
print(prime1)

In [ ]:
# Syntax : 
class ClassName:
    # Class level attributes
    attribute1 = value1
    attribute2 = value2

    # Class level methods
    def method1(self, arg1, arg2):
        # Method body
        pass

    def method2(self, arg3):
        # Method body
        pass
#

5.ab = log(x) + sin(y) + tan(z) - using function.

In [299]:
def logg(x, y, z):
        ab = math.log(a) + math.sin(b) + math.tan(c)
        print(ab)
logg(5,8,9)

0.8777067547933646

6,7,8,9.Class Object + Functions.

In [300]:
#
import math
#
class many_opt():
    def logg(self,x, y, z):
        ab = math.log(a) + math.sin(b) + math.tan(c)
        print(ab)

    def tann(self,x, y, z):
        tanx = math.tan(y)
        tanx = math.sin(x) / math.cos(z)
        print(tanx)

    def divide(self,x):
        di = 1 / (1 - x ** 2)
        print(di)

    def distance(self, x1, x2, y1, y2):
        sq = math.sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2)
        print(sq)

# Instantiate the object
mobj = many_opt()

mobj.logg(5,8,9)
mobj.tann(5,8,9)
mobj.divide(15)
mobj.distance(5,4,6,9)

0.8777067547933646
1.0524557407187853
-0.004464285714285714
3.1622776601683795

10.Lambda b^2 - 4ac / 2a

In [301]:
# X = lambda x, y: x + y
a = 5
b = 8
c = 16
#
x = lambda a,b,c : b**2 - 4*(a*c)/ 2*a
y = x(5,8,16)
print(y)

-736.0

In [ ]:
## Syntax
add = lambda x, y: x + y  # 2 values x,y
result = add(2, 3)
print(result)  # Output: 5
##

10.String Fetch Phone Number.

In [302]:
# 1
strings = "Hello World - fetch my phone number: 9444446666 in a String."
a = ["1","2","3","4","5","6","7","8","9"]
b = []
for i in strings:
  if i in a:
    b.append(i)
#
print("".join(b))
#

9444446666

In [303]:
# 2
import re
strings = "Hello World - fetch my phone number: +91 944 4446666 in a String."
pattern = r"\+?\d{2}[-.\s]?\d{3}[-.\s]?\d{7}"
matches = re.findall(pattern, strings)
#
print(*matches)
'''
for i in matches:
    print(i)
#
'''

+91 944 4446666

'\nfor i in matches:\n    print(i)\n#\n'

In [304]:
#
import re
text = "Please contact us at +1-123-456-7890 or 123-456-7890 for assistance."
# Regular expression pattern to match phone numbers
pattern = r"\+?\d{1,3}[-.\s]?\d{3}[-.\s]?\d{3}[-.\s]?\d{4}"
#
# """  +1-123-456-7890  """
'''
+     # \+? 
1     # \d{1,3} - This matches one to three digits. The \d is a shorthand character class that matches any digit (0-9), and the {1,3} quantifier specifies the minimum and maximum number of occurrences of the preceding pattern, which is one to three digits in this case.
-     # [-.\s]?
123   # \d{3}
-     # [-.\s]?  
456   # \d{3}   
-     # [-.\s]?    
7890  # \d{4}
'''
# 

# Find all matches of the pattern in the text
matches = re.findall(pattern, text)

# Print the extracted phone numbers
for match in matches:
    print(match)

+1-123-456-7890

### TASK 02